/* ==========================================================================
	Include variables and mixins
	========================================================================== */
/* ==========================================================================
	Global CSS variables
	========================================================================== */
:root {
	--qode-main-color: #283642;
	--qode-second-main-color: #E88E64;
	--qode-header-light-color: #ffffff;
	--qode-header-light-hover-color: #ffffff;
	--qode-header-dark-color: #000000;
	--qode-header-dark-hover-color: #000000;
	--qode-gradient-color: #ef7234;
	--qode-header-height: 100px;
	--qode-top-bar-height: 0px;
	--qode-admin-bar-height: 0px;
	--qode-height-custom-offset: 0px;
	--qode-mobile-header-height: 70px;
}

body {
	--qode-header-height-total: calc(var(--qode-header-height) + var(--qode-top-bar-height) + var(--qode-admin-bar-height));
}
body.admin-bar {
	--qode-admin-bar-height: 32px;
}
@media (max-width: 782px) {
	body.admin-bar {
		--qode-admin-bar-height: 46px;
	}
}
@media (max-width: 1200px) {
	body {
		--qode-header-height-total: calc(var(--qode-mobile-header-height) + var(--qode-admin-bar-height));
	}
}

/* ==========================================================================
	Color variables
	========================================================================== */
/* ==========================================================================
	Typography variables
	========================================================================== */
/* ==========================================================================
	Box variables
	========================================================================== */
/* ==========================================================================
	Devices screen size variables
	========================================================================== */
/* ==========================================================================
	Typography mixins
	========================================================================== */
/* ==========================================================================
	Typography mixins - end
	========================================================================== */
/* ==========================================================================
	Menu mixins - begin
	========================================================================== */
/* ==========================================================================
	Menu mixins - end
	========================================================================== */
/* ==========================================================================
	Layout mixins - begin
	========================================================================== */
/* ==========================================================================
	Layout mixins - end
	========================================================================== */
/* ==========================================================================
	Input fields mixins - begin
	========================================================================== */
/* ==========================================================================
	Input fields mixins - end
	========================================================================== */
/* ==========================================================================
	Pagination mixins - begin
	========================================================================== */
/* ==========================================================================
	Pagination mixins - end
	========================================================================== */
/* ==========================================================================
	Grid size mixins - begin
	========================================================================== */
/* ==========================================================================
	Grid size mixins - end
	========================================================================== */
/* ==========================================================================
	Helper mixins - begin
	========================================================================== */
/* ==========================================================================
	Helper mixins - end
	========================================================================== */
/* ==========================================================================
	Common mixins - begin
	========================================================================== */
/* ==========================================================================
	Common mixins - end
	========================================================================== */
/* ==========================================================================
	Custom Effect mixins - begin
	========================================================================== */
/* ==========================================================================
	Custom Effect mixins - end
	========================================================================== */
/* ==========================================================================
   Animation mixins - start
   ========================================================================== */
/* ==========================================================================
   Animation mixins - end
   ========================================================================== */
body {
	color: #283642;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625em;
	text-transform: initial;
	background-color: #ffffff;
}

h1 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #283642;
	font-size: 56px;
	line-height: 1.1785714286em;
}
h1 a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
}
h1 a:focus, h1 a:hover {
	color: currentColor;
}
h1 {
	margin: 20px 0;
}

h2 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #283642;
	font-size: 46px;
	line-height: 1.2173913043em;
}
h2 a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
}
h2 a:focus, h2 a:hover {
	color: currentColor;
}
h2 {
	margin: 20px 0;
}

h3 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #283642;
	font-size: 36px;
	line-height: 1.2777777778em;
}
h3 a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
}
h3 a:focus, h3 a:hover {
	color: currentColor;
}
h3 {
	margin: 20px 0;
}

h4 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #283642;
	font-size: 26px;
	line-height: 1.1923076923em;
}
h4 a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
}
h4 a:focus, h4 a:hover {
	color: currentColor;
}
h4 {
	margin: 20px 0;
}

h5 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #283642;
	font-size: 22px;
	line-height: 1.1818181818em;
	letter-spacing: 0.01em;
}
h5 a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
}
h5 a:focus, h5 a:hover {
	color: currentColor;
}
h5 {
	margin: 20px 0;
}

h6 {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #283642;
	font-size: 17px;
	line-height: 1.2352941176em;
}
h6 a {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
}
h6 a:focus, h6 a:hover {
	color: currentColor;
}
h6 {
	margin: 20px 0;
}

a,
p a {
	color: #283642;
	text-decoration: none;
	transition: color 0.2s ease-out;
	cursor: pointer;
}
a:focus, a:hover,
p a:focus,
p a:hover {
	color: var(--qode-main-color);
}

p {
	margin: 10px 0;
}

blockquote {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.5em;
	color: #283642;
	position: relative;
	margin-bottom: 0 !important;
	padding: 25px 0 32px 106px;
	border: none;
}
@media only screen and (max-width: 1024px) {
	blockquote {
		padding: 25px 0 32px 85px;
	}
}
@media only screen and (max-width: 680px) {
	blockquote {
		padding: 25px 0 32px 0;
	}
}
blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
	padding: 25px 0 32px 106px;
}
@media only screen and (max-width: 1024px) {
	blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
		padding: 25px 0 32px 85px;
	}
}
@media only screen and (max-width: 680px) {
	blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
		padding: 25px 0 32px 0;
	}
}
blockquote.wp-block-pullquote {
	padding: 25px !important;
	text-align: center;
}
blockquote.wp-block-pullquote p {
	font-size: 28px !important;
	line-height: 1.6 !important;
}
blockquote.wp-block-pullquote.alignleft {
	max-width: 420px;
}
blockquote.wp-block-pullquote.alignright {
	max-width: 420px;
}
blockquote.has-text-align-right {
	padding: 25px 106px 32px 0;
}
@media only screen and (max-width: 1024px) {
	blockquote.has-text-align-right {
		padding: 25px 85px 32px 0;
	}
}
@media only screen and (max-width: 680px) {
	blockquote.has-text-align-right {
		padding: 25px 0 32px 0;
	}
}
blockquote.has-text-align-right.wp-block-quote.is-large, blockquote.has-text-align-right.wp-block-quote.is-style-large {
	padding: 25px 106px 32px 0;
}
@media only screen and (max-width: 1024px) {
	blockquote.has-text-align-right.wp-block-quote.is-large, blockquote.has-text-align-right.wp-block-quote.is-style-large {
		padding: 25px 85px 32px 0;
	}
}
@media only screen and (max-width: 680px) {
	blockquote.has-text-align-right.wp-block-quote.is-large, blockquote.has-text-align-right.wp-block-quote.is-style-large {
		padding: 25px 0 32px 0;
	}
}
blockquote.has-text-align-right:before {
	left: auto;
	right: 0;
}
blockquote:before {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	flex-shrink: 0;
	height: 58px;
	width: 63px;
	background-color: #000;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62.411' height='57.093'%3E%3Cpath fill='none' stroke='%23000' d='M17.339.5a12.547 12.547 0 0 0-9.321 4.047 12.866 12.866 0 0 0-3.925 9.2A13.807 13.807 0 0 0 7.404 22.7a10.768 10.768 0 0 0 7.972 4.293 23.83 23.83 0 0 1-4.538 11.038A45.955 45.955 0 0 1 .659 47.352l5.151 9.076q10.3-5.4 17.538-17.048t7.236-23.425q0-6.868-3.925-11.161A12.222 12.222 0 0 0 17.339.5Z' /%3E%3Cpath fill='none' stroke='%23000' d='M48.666.5a12.547 12.547 0 0 0-9.321 4.047 12.866 12.866 0 0 0-3.925 9.2 13.807 13.807 0 0 0 3.311 8.953 10.768 10.768 0 0 0 7.972 4.293 23.83 23.83 0 0 1-4.538 11.038 45.955 45.955 0 0 1-10.179 9.321l5.151 9.076q10.3-5.4 17.538-17.048t7.236-23.425q0-6.868-3.925-11.161A12.222 12.222 0 0 0 48.666.5Z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62.411' height='57.093'%3E%3Cpath fill='none' stroke='%23000' d='M17.339.5a12.547 12.547 0 0 0-9.321 4.047 12.866 12.866 0 0 0-3.925 9.2A13.807 13.807 0 0 0 7.404 22.7a10.768 10.768 0 0 0 7.972 4.293 23.83 23.83 0 0 1-4.538 11.038A45.955 45.955 0 0 1 .659 47.352l5.151 9.076q10.3-5.4 17.538-17.048t7.236-23.425q0-6.868-3.925-11.161A12.222 12.222 0 0 0 17.339.5Z' /%3E%3Cpath fill='none' stroke='%23000' d='M48.666.5a12.547 12.547 0 0 0-9.321 4.047 12.866 12.866 0 0 0-3.925 9.2 13.807 13.807 0 0 0 3.311 8.953 10.768 10.768 0 0 0 7.972 4.293 23.83 23.83 0 0 1-4.538 11.038 45.955 45.955 0 0 1-10.179 9.321l5.151 9.076q10.3-5.4 17.538-17.048t7.236-23.425q0-6.868-3.925-11.161A12.222 12.222 0 0 0 48.666.5Z'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
@media only screen and (max-width: 680px) {
	blockquote:before {
		position: relative;
		left: auto;
		margin: 0 0 7px;
	}
}
blockquote {
	margin: 0;
	padding: 0;
	quotes: none;
	z-index: 1;
}
blockquote:after {
	content: "";
}
blockquote > * {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	color: inherit;
	margin: 0;
}
blockquote p {
	margin: 0 !important;
}
blockquote cite {
	display: block;
	margin: 10px 0 0;
	font-style: normal;
	font-weight: 400 !important;
	text-align: inherit !important;
	text-transform: uppercase !important;
}